@import "../../assets/styles/vars";

.header {
	.logo {
		.logoLink {
			padding: 0 30px;
			@include flex(row, flex-start, center);
			height: $headerHeight;

			@include media-max(sm) {
				justify-content: center;
			}
		}
	}
}
